* {
  direction: rtl;
}

html,
body {
  font-family: "IRANSansWeb", sans-serif;
}

@font-face {
  font-family: "IRANSansWeb";
  font-display: swap;
  src: url("../fonts/IRANSansWeb.woff2") format("woff2");
}

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8px;
}
